<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:icon="@drawable/logo_find_cart"
        android:label="FindCartx1"
        android:theme="@style/Theme.FindCartx1"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"          android:exported="false"/>
        <activity android:name=".SignupActivity"         android:exported="false"/>
        <activity android:name=".ProfileActivity"        android:exported="false"/>
        <activity android:name=".AddressActivity"        android:exported="false"/>
        <activity android:name=".MapActivity"            android:exported="false"/>
        <activity android:name=".AccountDetailsActivity" android:exported="false"/>
        <activity android:name=".OffersActivity"         android:exported="false"/>
        <activity android:name=".CartActivity"           android:exported="false"/>
        <activity android:name=".HistoryActivity"        android:exported="false"/>

    </application>

</manifest>